{% extends "page.j2" %} {% import "fragments/cardcard.j2" as cardcard %}

<span>
  {% macro statcard(title, text) %}
  <div class="card col m-1 p-0 d-block d-md-none">
    <div class="card-body">
      <h6 class="card-subtitle text-body-secondary text-nowrap">
        {{ text }}
      </h6>
    </div>
  </div>
  <div class="card col m-1 p-0 d-none d-md-block">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <h6 class="card-subtitle text-body-secondary text-nowrap">
        {{ text }}
      </h6>
    </div>
  </div>
  {% endmacro %}
</span>

<span>{% block title %}{{ card.text["en"].name }} - YGOJSON{% endblock %}</span>

{% block contents %}
<div class="container">
  <div class="row">
    <div class="col">
      <img
        class="object-fit-contain h-100 w-100"
        src="{{ card.images[0].card_art }}"
        style="object-position: 50% 0%"
      />
    </div>
    <div class="col col-6 col-md-9 container">
      <h1 class="row">
        <div class="col fw-bold text-decoration-underline">{{ card.text["en"].name }}</div>
      </h1>
      <div class="row g-1 row-cols-3 row-cols-lg-4 row-cols-xl-6">
        {{ statcard("Card Type", card.card_type | translateenum) }}
        {% if card.subcategory %}
        {{ statcard("Category", card.subcategory | translateenum) }}
        {% endif %} {% if card.character %}
        {{ statcard("Character", card.character) }}
        {% endif %} {% if card.skill_type %}
        {{ statcard("Skill Type", card.skill_type) }}
        {% endif %} {% if card.attribute %}
        {{ statcard("Attribute", card.attribute | translateenum) }}
        {% endif %} {% if card.monster_card_types %}
        {{ statcard("Summoning Types", card.monster_card_types | translateenums | join(" / ")) }}
        {% endif %} {% if card.type %}
        {{ statcard("Type", card.type | translateenum) }}
        {% endif %} {% if card.classifications %}
        {{ statcard("Classifications", card.classifications | translateenums | join(" / ")) }}
        {% endif %} {% if card.abilities %}
        {{ statcard("Abilities", card.abilities | translateenums | join(" / ")) }}
        {% endif %} {% if card.level is not none %}
        {{ statcard("Level", card.level) }}
        {% endif %} {% if card.rank is not none %}
        {{ statcard("Rank", card.rank) }}
        {% endif %} {% if card.link_arrows %}
        {{ statcard("Link Arrows", card.link_arrows | translateenums | join) }}
        {% endif %}
      </div>
      {% if card.text["en"].pendulum_effect %}
      <div class="row">
        <h4>Pendulum Text</h4>
        <div style="white-space: pre-line">
          {{ card.text["en"].pendulum_effect }}
        </div>
      </div>
      {% endif %}
      <div class="row">
        <h4>Card Text</h4>
        <div style="white-space: pre-line">{{ card.text["en"].effect }}</div>
      </div>
      <div class="row g-1 row-cols-3 row-cols-lg-4 row-cols-xl-6">
        {% if card.scale is not none %}
        {{ statcard("Scale", card.scale) }}
        {% endif %} {% if card.atk is not none %}
        {{ statcard("ATK", card.atk) }}
        {% endif %} {% if card.def_ is not none %}
        {{ statcard("DEF", card.def_) }}
        {% endif %} {% if card.link_arrows %}
        {{ statcard("Link", card.link_arrows | length) }}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 col-lg-6 col-xxl-4 container">
      <h2 class="row">External IDs</h2>
      <ul class="row">
        <li>Password: {{ card.passwords | join(" / ") }}</li>
        {% if card.db_id %}
        <li>
          Konami ID:
          <a
            href="https://www.db.yugioh-card.com/yugiohdb/card_search.action?ope=2&cid={{
              card.db_id
            }}&request_locale=en"
            >{{ card.db_id }}</a
          >
        </li>
        {% endif %} {% for yugipedia in card.yugipedia_pages %}
        <li>
          Yugipedia:
          <a href="https://yugipedia.com/wiki/{{ yugipedia.name }}"
            >{{ yugipedia.name }} ({{ yugipedia.id }})</a
          >
        </li>
        {% endfor %} {% if card.ygoprodeck %}
        <li>
          YGOPRODECK:
          <a href="https://ygoprodeck.com/card/{{ card.ygoprodeck.name }}"
            >{{ card.ygoprodeck.name }} ({{ card.ygoprodeck.id | zfill(8)}})</a
          >
        </li>
        {% endif %} {% if card.yamlyugi %}
        <li>
          Yaml Yugi:
          <a
            href="https://github.com/DawnbrandBots/yaml-yugi/blob/master/data/cards/{{ card.yamlyugi | zfill(8) }}.yaml"
            >{{ card.yamlyugi | zfill(8) }}</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="col col-12 col-lg-6 col-xxl-4 container">
      <h2 class="row">Legality</h2>
      <div class="row">
        {% if card.illegal %}
        <div class="col">This card is illegal in all formats.</div>
        {% else %} {% for format in card.legality %}
        <div class="col-6">
          <div class="card m-1 p-0">
            <div class="card-body">
              <h5 class="card-title">{{ format | translateformat }}</h5>
              <h6 class="card-subtitle text-body-secondary">
                {{ card | currentlegality(format) | translateenum }}
              </h6>
            </div>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
    {% if card.series %}
    <div class="col col-12 col-lg-6 col-xxl-4 container">
      <h2 class="row">Part of</h2>
      <ul class="row">
        {% for series in card.series | unique %}
        <li>
          <a href="/series/{{ series.id }}">{{ series.name["en"] }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if card.master_duel_rarity %}
    <div class="col col-12 col-lg-6 col-xxl-4 container">
      <h2 class="row">Master Duel</h2>
      <ul class="row">
        <li>Rairty: {{ card.master_duel_rarity | translateenum }}</li>
        <li>
          Craftable? {% if card.master_duel_craftable %}Yes{% else %}No{% endif
          %}
        </li>
      </ul>
    </div>
    {% endif %} {% if card.duel_links_rarity %}
    <div class="col col-12 col-lg-6 col-xxl-4 container">
      <h2 class="row">Duel Links</h2>
      <ul class="row">
        <li>Rairty: {{ card.duel_links_rarity | translateenum }}</li>
      </ul>
    </div>
    {% endif %}
  </div>
  <div class="row">
    {% if card.sets %}
    <div class="col container">
      <h2 class="row">Printings</h2>
      <div class="container">
        <div class="row g-1">
          {% for set in card.sets | unique %} {% for locale in set |
          getsetlocales %} {% for content in set | getsetlocalecontents(locale)
          %} {% for printing in content.cards %} {% if printing.card == card %}
          {% for edition in set | getseteditions(locale) %}
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            {{ cardcard.cardcard(card, printing, locale, edition, set) }}
          </div>
          {% endfor %} {% endif %} {% endfor %} {% endfor %} {% endfor %} {%
          endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
