{% extends "page.j2" %} {% import "fragments/cardcard.j2" as cardcard %}

<span>{% block title %}Search Results - YGOJSON{% endblock %}</span>

{% block contents %}
<div class="container">
  <div class="row">
    <h1 class="col-auto fw-bold text-decoration-underline">Search Results</h1>
    <div class="col text-end align-self-end fs-xxs fs-xs-sm fs-s-md fs-m-lg">
      <div>Searching for: {{ human_readable_query }}</div>
      <div>({{ n_results }} results returned)</div>
    </div>
  </div>
  <div class="row">
    <ul class="fs-xxs col pagination pagination-sm justify-content-center flex-wrap">
      <li class="page-item disabled">
        <a class="page-link fs-xxs fs-xs-sm fs-s-md">Page</a>
      </li>
      {% for page_number in range(1, n_pages+1) %}
      <li class="page-item">
        <a class="page-link fs-xxs fs-xs-sm fs-s-md {%if page == page_number %}active{% endif %}" href="/search?query={{ query | urlencode }}&page={{ page_number }}">{{ page_number }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="row g-1">
    {% for result in results %}
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
      {% if result is oftypecard %}
      {{ cardcard.cardcard(result, subtitle_override="Card", cardcssclasses="h-100") }}
      {% elif result is oftypeset %}
      <a href="/set/{{ result.id }}">
        <div class="card m-1 p-0 h-100">
          <div class="card-body">
            <img class="card-img-top" src="{{ result | setgenericimage }}" />
            <h5 class="card-title">{{ result.name["en"] }}</h5>
            <h6 class="card-subtitle text-body-secondary">Set</h6>
          </div>
        </div>
      </a>
      {% elif result is oftypeseries %}
      <a href="/series/{{ result.id }}">
        <div class="card m-1 p-0 h-100">
          <div class="card-body">
            <img class="card-img-top" src="{{ result | seriesgenericimage }}" />
            <h5 class="card-title">{{ result.name["en"] }}</h5>
            <h6 class="card-subtitle text-body-secondary">Series</h6>
          </div>
        </div>
      </a>
      {% elif result is oftypeproduct %}
      <a href="/product/{{ result.id }}">
        <div class="card m-1 p-0 h-100">
          <div class="card-body">
            <img class="card-img-top" src="{{ result | setgenericimage }}" />
            <h5 class="card-title">{{ result.name["en"] }}</h5>
            <h6 class="card-subtitle text-body-secondary">Sealed product</h6>
          </div>
        </div>
      </a>
      {% else %}
      <div class="card m-1 p-0 h-100">
        <div class="card-body">
          <h5 class="card-title">(Error: Unknown item {{ result.id }})</h5>
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
