{% extends "page.j2" %} {% import "fragments/cardcard.j2" as cardcard %}

<span>{% block title %}{{ set.name[en] }} - YGOJSON{% endblock %}</span>

<span
  >{% macro distroslot(slot) %} {% if slot is slotpool %}
  <li>
    {% if slot.rarity | length <= 1 %}<span
      >{{ slot.qty }}
      {{ slot.rarity[0].rarities | translateenums | join("/") }} card{% if
      slot.qty != 1 %}s{% endif %}</span
    >{% else %}<span>
      {{ slot.qty }} card{% if slot.qty != 1 %}s{% endif %}{% if
      slot.proportionate %}<i> (proportionate)</i>{% endif %}:</span
    >
    <ul>
      {% for weight in slot.rarity %}
      <li>
        {% if weight.chance != 1 %}1:{{ weight.chance }}{% else %}Else {% endif
        %} {{ weight.rarities | translateenums | join("/") }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% elif slot is slotcards %} {% for card in slot.cards %}
  <li>
    <a href="/card/{{ slot.card.id }}">{{ slot.card.text[en].name }}</a>
  </li>
  {% endfor %} {% elif slot is slotset %}
  <li>
    the contents of
    <a href="/set/{{ slot.set.id }}">{{ slot.set.name[en] }}</a>
  </li>
  {% endif %} {% endmacro %}</span
>

<span>
  {% macro gallery(locale, content, edition, loopindex) %}
  <div class="row">
    {% if (content.cards | length) > 0 %}
    <h2 class="col-4 text-start text-decoration-underline">
      {% if locale %}{{ locale.key | translatelocale }}{% else %}Worldwide{%
      endif %}{% if edition %} ({{ edition | translateenum }}){% endif %}
    </h2>
    <div class="col text-start text-secondary">
      {% if locale %}
      {{ locale.prefix or "(no set code)" }}
      {% if locale.date %} -- {{ locale.date }}{% endif %} {% if locale.db_ids
      %} -- Konami ID: {{ locale.db_ids | dbsetlinks | join(" / ") }}{% endif %}
      {% if content.ygoprodeck %} -- YGOPRODECK:
      <a href="https://ygoprodeck.com/pack/{{ content.ygoprodeck }}">{{
        content.ygoprodeck
      }}</a
      >{% endif %} {% else %} {% if set.date %}{{ set.date }}{% endif %} {%
      endif %} ({{ content.cards | length }} cards)
    </div>
    <button
      class="col-3 col-md-2 btn btn-secondary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#gallery-{% if locale %}{{ locale.key }}{% endif %}-{{
        edition
      }}-{{ loopindex }}"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Show/Hide
    </button>
    <div
      class="container collapse"
      id="gallery-{% if locale %}{{ locale.key }}{% endif %}-{{ edition }}-{{
        loopindex
      }}"
    >
      <div class="row g-1">
        {% for printing in content.cards %}
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
          {{ cardcard.cardcard(printing.card, en, printing, locale, edition) }}
        </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <h2 class="col-4 text-start text-decoration-underline">
      {% if locale %}{{ locale.key | translatelocale }}{% else %}Worldwide{%
      endif %}{% if edition %} ({{ edition | translateenum }}){% endif %}
    </h2>
    <div class="col text-start text-secondary">(no cards)</div>
    {% endif %}
  </div>
  {% endmacro %}
</span>

{% block contents %}
<div class="container">
  <h1 class="row fw-bold text-decoration-underline">{{ set.name[en] }}</h1>
  <div class="row">
    <div class="col-12 col-md-6">
      <img
        style="height: 40vh; width: 100%; object-fit: contain"
        src="{{ set | setgenericpackimage }}"
      />
    </div>
    <div class="col-6 col-md-3">
      {% set products = set | setproducts %} {% if (products | length) != 0 %}
      <h2>In Sealed Products</h2>
      <ul>
        {% for product in products %}
        <li>
          <a href="/product/{{ product.id }}">{{ product.name[en] }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="col-6 col-md-3 container p-1 text-end">
      {% if set.yugipedia %}
      <div class="row">
        <span
          ><b>Yugipedia: </b
          ><a href="https://yugipedia.com/wiki/{{ set.yugipedia.name }}"
            >{{ set.yugipedia.name }} ({{ set.yugipedia.id }})</a
          ></span
        >
      </div>
      {% endif %}
      <div class="row">
        <span
          ><b>Formats: </b
          >{{ set | setformats | translateenums | join(" / ") }}</span
        >
      </div>
    </div>
  </div>
  <div class="row">
    {% for rawdistro, contentslist in (set | groupcontentsbydistro).items() %}
    <div class="col col-12 col-lg-6 col-xxl-4 container">
      <h4 class="row">
        <div class="col">
          Pack Distribution{{ set | distrolocales(contentslist) }}
        </div>
      </h4>
      {% if rawdistro is specialdistro %}
      <div class="row">{{ rawdistro | translateenum }}</div>
      {% else %} {% set distro = rawdistro | getdistrobyid %}
      <div class="row">
        <div class="col">
          {{ distro | distrolen(locales) }} card packs{% if distro.quotas %}<i>
            ( min. {% for type, qty in distro.quotas.items() %}{{ qty }}
            {{ type | translateenum }} {% endfor %})</i
          >{% endif %}:
        </div>
      </div>
      <div class="row">
        <ul>
          {% for slot in distro.slots %}
          {{
            distroslot(slot)
          }}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
  {% for locale in set | getlocales %} {% for content in set |
  getlocalecontents(locale) %} {% for edition in set | getseteditions(locale) %}
  {{ gallery(locale, content, edition, loop.index) }}
  {% endfor %} {% endfor %} {% endfor %}
</div>
{% endblock %}
